<h1>View Customer {{CustomerDetails.data.CustomerCode}}</h1>

<table class="table table-responsive">
    <tr>
        <td><label class="control-label"> Customer Code</label></td>
        <td>{{CustomerDetails.data.CustomerCode}}</td>
        <td><label class="control-label">Customer Name</label></td>
        <td>{{CustomerDetails.data.CustomerName}}</td>
    </tr>
    <tr>
        <td><label class="control-label"> Address </label></td>
        <td>{{CustomerDetails.data.AddressLine}}</td>
        <td><label class="control-label"> Address2 </label></td>
        <td>{{CustomerDetails.data.AddressLine2}}</td>
    </tr>
    <tr>
        <td>
            <label class="control-label"> Coutry</label>
        </td>
        <td>India</td>
        <td><label class="control-label">State</label> </td>
        <td>{{CustomerDetails.data.StateName}}</td>
    </tr>
    <tr>
        <td><label class="control-label">City </label></td>
        <td>{{CustomerDetails.data.StateName}}</td>
        <td><label class="control-label">Pincode </label></td>
        <td>{{CustomerDetails.data.Pincode}}</td>
    </tr>
    <tr>
        <td><label class="control-label"> Mobile </label></td>
        <td>{{CustomerDetails.data.Mobile}}</td>
        <td><label class="control-label"> Email-Id </label></td>
        <td>{{CustomerDetails.data.EmailId}}</td>
    </tr>

</table>