@{
    ViewBag.Title = "Add Role To User";
}
@section styles{
    <link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
}
<h2>Add Role To User</h2>

<table class="table table-responsive">
    <tr>
        <td>
            <div class="col-sm-5">

                <div class="form-group">
                    <label class="col-xs-4 control-label">Role Name</label>
                    <div class="col-xs-5">
                        <select id="multiSelect" class="form-control" name="browsers" multiple>
                            <option value="chrome" selected="selected">Google Chrome</option>
                            <option value="firefox">Firefox</option>
                            <option value="ie">IE</option>
                            <option value="safari">Safari</option>
                            <option value="opera">Opera</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </td>

    </tr>
    <tr>
        <td>
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="col-xs-4 control-label">Username</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" />
                        <input type="hidden" id="hdnUserId" />
                    </div>
                        <!--<div class="col-xs-5">
            <select id="userSelect" class="form-control" name="browsers" multiple>
                <option value="chrome" selected="selected">Google Chrome</option>
                <option value="firefox">Firefox</option>
                <option value="ie">IE</option>
                <option value="safari">Safari</option>
                <option value="opera">Opera</option>
                <option value="other">Other</option>
            </select>
        </div> -->
                    </div>

                <div class="clear"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="col-sm-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-saved"></i> Save</button>
                </div>
            </div>
        </td>
    </tr>
</table>




@section scripts{
    <script src="~/Scripts/jquery-1.10.0.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script type="text/javascript">
        var selectUsers = [];
        var isSelectedAll = false;
        var Roles = @Html.Raw(ViewBag.Roles)

           


        $(document).ready(function () {
            $('#multiSelect').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
            });
            $('#multiSelect').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
                checkbox: function (option) {
                    var $closetSelect = $(option).closest("select");
                    alert($closetSelect.id)
                },
                onChange: function (options, selected) {
                    // alert($(options).val());
                    //alert(1);

                    if ($('#multiSelect option:selected').length == 0) {
                        selectUsers = [];
                    }




                    if (!selected) {
                        selectUsers = jQuery.grep(selectUsers, function (n, i) {

                            return n != $(options).val();
                        })
                    } else {
                        selectUsers = jQuery.grep(selectUsers, function (n, i) {

                            return n != $(options).val();
                        })
                        if (typeof $(options).val() != "undefined") {
                            alert($(options).val())
                            selectUsers.push($(options).val());
                        }
                    }
                    console.log(selectUsers)



                },
                onSelectAll: function () {
                    var value = $("#multiSelect").val().toString();
                    selectUsers = value.split(',');
                    isSelectedAll = true;
                },
                deselectAll: function (justVisible) {
                    alert(justVisible);
                }

            });



        });
        $("#multiSelect").html("");
        jQuery.each(Roles, function (index, item) {
            // do something with `item` (or `this` is also `item` if you like)
            
            $("#multiSelect").append("<option value='"+item.RoleId+"'>"+item.RoleName+"</option>")
        })


    </script>
}